<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-2" >huskyhunter 1.0</h1>

            <h4>Welcome, {{model.currentUser.firstName}}.  You are currently assigned to {{model.currentUser.roles}}</h4>.
            <br>

            <div ng-if="model.isHQ() || model.isAdmin()"><a href="#!/addClue" class="btn btn-warning btn-block">Add A New Clue</a>
                <br/></div>

            <div ng-if="model.isTeam1() || model.isAdmin()"><a href="#!/field1" class="btn btn-primary btn-block">Field Team 1</a><br/>
            </div>

            <div ng-if="model.isTeam2() || model.isAdmin()"><a href="#!/field2" class="btn btn-primary btn-block">Field Team 2</a><br/>
            </div>

            <div ng-if="model.isTeam3() || model.isAdmin()"><a href="#!/field3" class="btn btn-primary btn-block">Field Team 3</a><br/>
            </div>

            <div ng-if="model.isHQ()  || model.isAdmin()"><a href="#!/unassigned" class="btn btn-primary btn-block">Unassigned
                Tasks</a><br/>
            </div>

            <a href="#!/completedTasks" class="btn btn-info btn-block">All Completed Tasks</a><br/>

            <div><a href="#!/discord" class="btn btn-success btn-block">Access Team Discord</a><br/></div>

            <div><a href="#!/teammates" class="btn btn-warning btn-block">Team Roster</a><br/></div>

            <div><a href="#!/settings" class="btn btn-danger btn-block">Settings (manual file upload and change role)</a><br/></div>

            <a href="#!/faq" class="btn btn-success btn-block">HELP</a><br/>

            <div ng-if="model.isAdmin()"><a href="#!/rawClues" class="btn btn-danger btn-block">Raw Clue Data (dev
                only)</a></div>

        </div>
    </div>
</div>