<div class="container padded-down">
    <h4 class="display-3">huskyhunter alpha</h4>
    <div class="form-group">
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
               type="text"
               class="form-control"
               ng-model="username"
               placeholder="Username"
               required
        />

    <input type="password"
            class="form-control"
            ng-model="password"
           placeholder="Password"
            required/>
        <br>

    <a ng-click="model.login(username, password)"
            class="btn btn-primary btn-block">Login</a>
    </div>
</div>