<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Completed Tasks

            </h3>
            <a href="#!/home" class="btn btn-primary">Home</a>

            <p></p>
            <div class="alert alert-success alert-dismissable">

                <h4>
                    Hello!
                </h4> This is a list of all completed tasks.  The photos of these clues should be safely stored on the server.
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Set Number
                    </th>
                    <th>
                        Clue Number
                    </th>
                    <th>
                        Location Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Overwrite Submission
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="clue in model.clues" ng-if="clue.completed == true">
                    <th>
                        {{clue.setNo}}
                    </th>
                    <th>
                        {{clue.number}}
                    </th>
                    <th>
                        {{clue.locationName}}
                    </th>
                    <th>
                        {{clue.mapData}}
                    </th>
                    <th>
                    <a href="#!/submit/{{clue.setNo}}/{{clue.number}}">[RE-SUBMIT] </a><br>
                        <a id="undoComplete-clue" href ng-click="model.markComplete(clue)">[UN-COMPLETE]</a>
                    </th>
                    <th>
                        </a>

                    </th>
                </tr>

                </tbody>
            </table>
        </div>

    </div>


</div>
</div>
</div>

