<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Field Team 1
            </h3>
            <a href="#!/home" class="btn btn-primary">Home</a>

            <!-- Green alert window-->
            <p></p>
            <div class="alert alert-success alert-dismissable">

                <h4>
                    Welcome!
                </h4> Hello field team 1.
            </div>
            <!-- End: Green alert window-->

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Set Number
                    </th>
                    <th>
                        Clue Number
                    </th>
                    <th>
                        Location Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Distance from Current Location
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="clue in model.clues" ng-if="clue.assignedTo == 1 && clue.completed == false">
                    <th>
                        {{clue.setNo}}
                    </th>
                    <th>
                        {{clue.number}}
                    </th>
                    <th>
                        {{clue.locationName}}
                    </th>
                    <th>
                        {{clue.mapData}}
                    </th>
                    <th>
                        <!--0.7 miles-->
                        {{clue.additionalNotes}}
                    </th>
                    <th>

                                <a href="#!/submit/{{clue.setNo}}/{{clue.number}}">
                <!--<span class="glyphicon glyphicon-upload pull-right"></span> --> [SUBMIT]
                                </a>

                        <a id="delete-clue" href ng-click="model.deleteClue(clue._id)">[DELETE]</a>

                        </a>

                            </th>
                        </tr>

                        </tbody>
                    </table>
                </div>

    </div>


    <br><br>
    <p>[Insert really cool google map here!]</p>
                <br><br>


            </div>
        </div>
    </div>
</div>