<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Field Team 7
            </h3>
            <a href="#!/home" class="btn btn-primary">Home</a>

            <!-- Green alert window-->
            <p></p>
            <div class="alert alert-success alert-dismissable">

                <h4>
                    South End
                </h4>
                Here are your current objectives. <br><br>
                Select the blue <code>[XX]</code> to mark the associated clue as COMPLETE.
            </div>
            <!-- End: Green alert window-->

            <table class="table">
                <thead>
                <tr>
                    <th>
                        Set
                    </th>
                    <th>
                        Number
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Actions
                    </th>
                    <th>
                        Description <!--Distance to current location-->
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="clue in model.clues" ng-if="clue.assignedTo == 7 && clue.completed == false">
                    <th>
                        {{clue.setNo}}
                    </th>
                    <th>
                        {{clue.number}}
                    </th>
                    <th>
                        {{clue.locationName}}
                    </th>

                    <th>
                        {{clue.mapData}}
                    </th>
                    <th>
                        <!--&lt;!&ndash;0.7 miles&ndash;&gt;-->
                        <a ng-click="model.markComplete(clue)" href="#!/submit/{{clue.setNo}}/{{clue.number}}">[XX] </a>


                    </th>

                    <th>
                        {{clue.additionalNotes}}

                        </a>

                    </th>

                </tr>
                </tbody>

            </table>

        </div>
    </div>

    <br><br>
    <br><br>


</div>
</div>
</div>
</div>


<!--<tbody>-->
<!--<tr ng-repeat="clue in model.clues" ng-if="clue.assignedTo == 1 && clue.completed == false">-->
<!--<th colspan="5">{{clue.additionalNotes}}</th>-->