<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <h1>HELP SECTION</h1>
            <a href="#!/home" class="btn btn-primary">Home</a>

            <br>
            <h3>Instructions:</h3>

            <h4>Add A Clue</h4>
            This should be used by people at our HQ.  HQ can add newly decoded clues and input the locations.
            <br>After submitting a clue, it will be auto-assigned to the best field team.

            <h4>Settings</h4>
            This is where HQ can fine-tune certain aspects of the game.  For example, this is where HQ would add a new Set of clues
            <br>once they were discovered.

            <h4>Field Team 1-3</h4>
            The 1st active group of players somewhere in Boston.  The field team's region can be dynamically changed by control.
            <br> This pane will display a map of all current waypoints within the team's region, as well as a list of the tasks
            <br> (completed clues) submitted by Control.  Each field team will be able to tap on the task they're currently completing
            <br> and be prompted to upload a photo.  This photo will automatically be filed in the correct spot (by set number and clue number).

            <h4>Unassigned Tasks</h4>
            Tasks that do not fall under any field team but need to be completed.  Some examples from last year are snapchat challenges
            <br> and challenges that took place on campus. This section will still support the same photo upload functionality that
            <br> field teams do (It's basically just a 4th field team).

            <h4>Completed Tasks</h4>
            A list of all completed tasks.


        </div>
    </div>
</div>